html {
  font-size: 62.5%;
}

body {
  height: 100vh;
  margin: 0;
  width: 100%;
  background-color: #e8e6e65c;
}

select {
  background-color: #f6f5f5;
}

.grid-container {
  display: grid;
  grid-template-areas: "header" "main" "footer";
  grid-template-columns: 1fr;
  grid-template-rows: 5rem 1fr 5rem;
  height: 100%;
  width: 100%;
}

.header {
  grid-area: header;
  background-color: #203040;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.header-links {
  width: 25rem;
  display: flex;
  justify-content: space-evenly;
}

.brand a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-family: "Parisienne", cursive;
  font-size: 2rem;
}

.header-links a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-family: "Parisienne", cursive;
  font-size: 1.5rem;
}

.header-links a:hover {
  color: coral;
}

.brand a:hover {
  color: coral;
}

.main {
  height: 100%;
}

.footer {
  grid-area: footer;
  background-color: #203040;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
}

.product-display-screen {
  width: 100%;
  height: 100%;
  display: flex;
}

.product-side-pictures {
  width: 15%;
  background-color: lightblue;
}

.container-photos-product-sider {
  height: 100%;
  width: 100%;
  margin: auto;
}

.photo {
  width: 8rem;
  height: 8rem;
  margin: 2rem auto;
  background-color: lightslategrey;
}

.product-picture-selected {
  width: 60%;
  height: 100%;
  background-color: lightcoral;
  display: flex;
  align-items: center;
  justify-content: center;
}

.central-photo {
  width: 40rem;
  height: 45rem;
  background-color: lightyellow;
}

.product-side-infos {
  width: 25%;
  height: 100%;
  background-color: lightgreen;
  display: flex;
  align-items: center;
}

.product-infos {
  height: 80%;
  width: 100%;
  padding: 0 2rem;
}

.product-name h1 {
  margin: 0;
  font-size: 24px;
}
.product-name h4 {
  font-size: 12px;
}

.couleur-product {
  display: flex;
  justify-content: space-between;
}

.setting-color-product {
  display: flex;
  align-items: center;
  justify-content: center;
}

.details-product p {
  margin: 0 0.5rem;
  font-size: 1.2rem;
  font-weight: 500;
}

.detail {
  margin: 2rem 0;
  height: 3rem;
  border-bottom: 0.1rem solid grey;
}

.detail input {
  border: none;
  width: 80%;
  color: #dfd1d1;
  background-color: none;
}
